{% extends 'page.html.twig' %}

{% block subtitle %}{% trans %}change_password.title{% endtrans %}{% endblock %}

{% block content %}
    <h3>{% trans %}change_password.header{% endtrans %}</h3>
    <div class="description-wrap">
        <p>{% trans %}change_password.intro{% endtrans %}</p>
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        <label for="username">{% trans %}change_password.form.username{% endtrans %}</label>
        <input class="form-control" type="text" disabled id="username" value="{{ user.username }}"/>
    </div>

    {{ form_rest(form) }}

    <div class="form-group mt-2">
        <button type="submit" class="btn btn-success">
            <span>{% trans %}change_password.submit{% endtrans %}</span>
        </button>
        <button class="btn btn-light" onclick="window.location.href='{{ path('app') }}'">
            <span>{% trans %}cancel{% endtrans %}</span>
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}
