{% extends 'page.html.twig' %}

{% block subtitle %}Passwort 채ndern{% endblock %}

{% block content %}
    <h3>Passwort 채ndern</h3>
    <div class="description-wrap">
        <p>Bitte 채ndern Sie Ihr Passwort.</p>
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        <label for="email">E-Mail-Adresse</label>
        <input class="form-control" type="text" disabled id="email" value="{{ user.username }}"/>
    </div>

    {{ form_rest(form) }}

    <div class="form-group mt-2">
        <button type="submit" class="btn btn-success">
            <span>Passwort 채ndern</span>
        </button>
        <button class="btn btn-light" onclick="window.location.href='{{ path('app') }}'">
            <span>Abbrechen</span>
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}
